<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Redis CRUD</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.7/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>

    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
            th:src="@{/webjars/jquery/3.1.1/jquery.min.js}"></script>

    <link href="../../static/css/main.css"
          th:href="@{/css/main.css}" rel="stylesheet" media="screen"/>
</head>
<body>
<div class="container">

    <h2>Person Details</h2>
    <div>
        <form class="form-horizontal" th:object="${personForm}" th:action="@{/person}" method="post">

            <div th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
                <p th:text="#{form.hasErrors}">Error Message</p>
            </div>

            <input type="hidden" th:field="*{id}"/>

            <div class="form-group" th:class="${#fields.hasErrors('name')} ? 'form-group has-error' : 'form-group'">
                <label class="col-sm-2 control-label">Imię:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{name}" th:errorclass="has-error"/>

                </div>
            </div>

            <div class="form-group" th:class="${#fields.hasErrors('surname')} ? 'form-group has-error' : 'form-group'">
                <label class="col-sm-2 control-label">Nazwisko:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{surname}" th:errorclass="has-error"/>

                    <span class="help-block">
                       <ul>
                           <li th:each="err : ${#fields.errors('surname')}" th:text="${err}" />
                       </ul>
                    </span>
                </div>
            </div>

            <div class="form-group" th:class="${#fields.hasErrors('age')} ? 'form-group has-error' : 'form-group'">
                <label class="col-sm-2 control-label">Wiek:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{age}" th:errorclass="has-error"/>

                    <span class="help-block">
                       <ul>
                           <li th:each="err : ${#fields.errors('age')}" th:text="${err}" />
                       </ul>
                    </span>
                </div>
            </div>
            <div class="row">
                <button type="submit" class="btn btn-default">Potwierdź</button>
            </div>
        </form>
    </div>
</div>

<script src="/webjars/jquery/3.1.1/jquery.min.js"></script>
<script src="/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"></script>
</body>
</html>